// base color
$blue:#324157;
$lightBlue:#3A71A8;
$red:#FE2654;
$pink: #E65D6E;
$green: #2BD3A3;
$tiffany: #4AB7BD;
$yellow:#F3DE2F;
$panGreen: #50E3C6;
$white:#FFFFFF;
$transparent:transparent;

// 背景色
$bgGreenDeep:#04221E; // 深绿色背景，input，select等
$bgSearchList:rgba(12,76,70,0.9); // 搜索列表背景
$bgList:rgba(18,104,96,.55); // 列表背景
$bgListHover:rgba(18,104,96,.25); // 列表背景鼠标移上去
$bgDialog:rgba(4,34,30,0.85);// 弹框背景
$bgDialogHeader:rgba(15,78,67,0.57);// 弹框背景
$menuBg:rgba(8,54,54,0.68);
$bgTab:rgba(57,195,171,.2);
$bgTabHover:rgba(57,195,171,.4);

$bgGreen:#6EC33A;
$bgBlue:#2E86E1;
$bgYellow:#F1DD04;
$bgOrange:#FF7523 ;
$bgRed:#E90909;

// 边框
$borderGreen:#3AC4AC;
$borderGrey:rgba(223, 223, 223,.55);
$borderGreenDeep:rgba(0,255,255,0.24);
$borderRadius:5px;

$menuSelect:#0F5549;

// 字体
$textColor:#FFFFFF;
$textHoverColor:#BBFFF3;
$textGreenColor:#80F4E0;
$textGreenDeepColor:#0E7568;
$textGreyColor:#878787;
$font-base:16px;
$font-sm:14px;
$font-mini:10px;
$font-lg:20px;
$font-lgr:26px;
$icon-size:20px;

